page-offerts {

    .avatar{
        border-radius: 5px;
        border: 2px #1577ab solid;
    }

    .active-status{
       color: green;
       font-weight: bold;
    }

    .inactive-status{
        color: rgb(59, 90, 119);
    }
    .offert-add{
        font-weight: bold;
    }
    ion-segment-button{
        border: #106591 2px solid !important;
        color: #106591 !important;
        font-weight: bold !important;
    }
    .segment-activated{
        background-color: #106591 !important ;
        color:white !important;
    }
    .segment-activated::before{
        margin-bottom: 3px;
    }
}
