<!--
  Generated template for the OffertsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content class="workapp-content">
    <ion-card padding>
        <ion-segment   [(ngModel)]="status">
          <ion-segment-button (click)="getOfferts()" value="1">
            Saved only
          </ion-segment-button>
          <ion-segment-button (click)="getOfferts()" value="2">
              Published to all
          </ion-segment-button>
     
          <ion-segment-button (click)="getOfferts()" value="3">
            Published to team
          </ion-segment-button>
        </ion-segment>
      </ion-card>
    <ion-card *ngFor="let offert of offerts">
        <ion-item>     
          <ion-row>
            <ion-col col-3>
              <img class="avatar" src="{{image}}">
            </ion-col>
            <ion-col col-9 class="avatar-name">
                <h2>{{offert.title}}</h2>
                <b><p>{{cities[offert.city-1]}}</p></b>
                <p>{{offert.address}}</p>
                <ion-row>
                <ion-col col-3>
                    <b>Start date</b>
                  </ion-col>
                  <ion-col col-9 text-right >
                      {{offert.start_date}}
                  </ion-col>
                  <ion-col col-3>
                    <b>End date</b>
                  </ion-col>
                  <ion-col col-9 text-right >
                      {{offert.end_date}}
                  </ion-col>
                </ion-row>
            </ion-col>
          
          </ion-row>
        </ion-item>
        <ion-card-content>
          <ion-row>
              <ion-col col-5>
                <b>Status</b>
              </ion-col>
              <ion-col col-7 [ngSwitch]="offert.status">
                  <ion-label *ngSwitchCase="1">Saved only</ion-label> 
                  <ion-label *ngSwitchCase="2">Published to all</ion-label> 
                  <ion-label *ngSwitchCase="3">Published to team members</ion-label> 
                  <ion-label *ngSwitchCase="0">Deleted</ion-label> 
              </ion-col>
            </ion-row>
        </ion-card-content>
          <ion-row class="butons-container">
            <ion-col col-7>
    
            </ion-col>
            <ion-col col-5>
              <button float-right ion-button  class="btn-detalle" (click)="editOffert(offert.id_offer)"  small icon-start> 
                <ion-icon  name="md-person"></ion-icon>
                Detail / Edit
              </button>
            </ion-col>
        
          </ion-row>
      </ion-card>
      <ion-card>
      <ion-card-content text-center>
        <button ion-button class="offert-add" (click)="addOffert()"><ion-icon name="add"></ion-icon>&nbsp;Offert</button>
      </ion-card-content>
      </ion-card>
</ion-content>
