page-offer-detail {
    .header{
        background-color:  #106591;
        color: white;
        text-align: center;
        padding-top: 4px !important;
        padding-bottom: 4px !important;
        margin-bottom: 10px;
    }
    [col-12] {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .label-md {
        margin: 1px 8px 6px 0;
    }
    [col-6] {
        padding-left: 15px;
        padding-right: 15px;
    }
    .title-label{
        color:white;
        font-weight: bold;
    }
    .subtitle-label{
        color:  #0e5172;
        font-weight: bold;
        font-size: 1.3rem !important;
    }
    ion-textarea {
        border: solid 1px #0a3f5a;
        background-color: white;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
        text-indent: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
}
