<ion-content class="workapp-content" >
  <ion-card>
    <ion-grid class="register-content">
      <ion-row>
        <ion-col class="header" col-12>
            <ion-label class="title-label" stacked>Title:</ion-label>
            <ion-label class="title-label">{{offer.title}}</ion-label>
        </ion-col>
        <ion-col col-12>
 
        </ion-col>
        <ion-col col-12>
          <ion-label class="subtitle-label" stacked>Offert description</ion-label>
          <ion-textarea class="employee-description" rows="4" [(ngModel)]="offer.description" readonly>
          </ion-textarea>
        </ion-col>
        <ion-item col-12>
            <ion-label class="subtitle-label" stacked>City</ion-label>
            
            <ion-label [ngSwitch]="offer.city" >
              <ion-label *ngSwitchCase="'1'">Abbotsford</ion-label>
              <ion-label *ngSwitchCase="'2'">Aldergrove</ion-label>
              <ion-label *ngSwitchCase="'3'">Burnaby</ion-label>
              <ion-label *ngSwitchCase="'4'">Chilliwack</ion-label>
              <ion-label *ngSwitchCase="'5'">Coquitlam</ion-label>
              <ion-label *ngSwitchCase="'6'">Surrey</ion-label>
              <ion-label *ngSwitchCase="'7'">Maple Ridge</ion-label>
              <ion-label *ngSwitchCase="'8'">Mission</ion-label>
              <ion-label *ngSwitchCase="'9'">New Westminster</ion-label>
              <ion-label *ngSwitchCase="'10'">North Vancouver</ion-label>
              <ion-label *ngSwitchCase="'11'">White Rock</ion-label>
              <ion-label *ngSwitchCase="'12'">Vancouver</ion-label>
          </ion-label>
        </ion-item>
        <ion-col col-12>
          <ion-label class="subtitle-label" stacked>Address</ion-label>
          <ion-label >{{offer.address}}</ion-label>
        </ion-col>
        <ion-col col-12>
          <ion-label class="subtitle-label" stacked>Price per hour</ion-label>
          <ion-label >{{offer.hour_price}}</ion-label>
        </ion-col>
        <ion-col col-6>
          <ion-label class="subtitle-label" stacked>Start date</ion-label>
          <ion-label >{{offer.start_date}}</ion-label>
        </ion-col>
        <ion-col col-6>
          <ion-label class="subtitle-label" stacked>End date</ion-label>
          <ion-label >{{offer.start_date}}</ion-label>      
        </ion-col>
        <ion-col col-6>
          <ion-label class="subtitle-label" stacked>Start hour</ion-label>
          <ion-label >{{offer.start_hour}}</ion-label>           
        </ion-col>
        <ion-col col-6>
            <ion-label class="subtitle-label" stacked>End hour</ion-label>
            <ion-label >{{offer.end_hour}}</ion-label> 
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <button ion-button float-right class="subtitle-label" class="btn-registro" (click)="postulate()" ><ion-icon name="checkbox-outline"></ion-icon>&nbsp;Postulate </button>
          
        </ion-col>
      </ion-row>
    </ion-grid> 
  </ion-card>
</ion-content>