page-team-offer {
    ion-segment-button{
        border: #106591 2px solid !important;
        color: #106591 !important;
        font-weight: bold !important;
    }
    .segment-activated{
        background-color: #106591 !important ;
        color:white !important;
    }
    ion-label{
        color: #106591 !important;
        font-weight: bold !important;
    }
    ion-thumbnail img{
        height: 60px;
        border-radius: 5px;
        border: 2px #1577ab solid;
    }
    .check{
        margin-top: 10%;
        border: 3px #1577ab solid;
        border-radius: 50%;
    }
   .check2{
        margin-top: 30%;
        border: 3px #1577ab solid;
        border-radius: 50%;
    }

}
