<ion-header>

  <ion-navbar>
    <ion-title>Publish options</ion-title>
  </ion-navbar>

</ion-header>
<ion-content class="workapp-content-modal">

    <ion-card padding>
  <div>
    <ion-label text-center>
      Publish to:
    </ion-label>
  </div>
    <ion-segment [(ngModel)]="type">
      <ion-segment-button value="all">
        All builders
      </ion-segment-button>
      <ion-segment-button value="team">
        My team
      </ion-segment-button>
    </ion-segment>
  </ion-card>
  
  <div [ngSwitch]="type">
    <div *ngSwitchCase="'all'">
      <ion-card>
        <button margin-top margin-bottom margin-left ion-button icon-end (click)="publishToAll()"  float-center>
          Confirm publish
          <ion-icon name="cloud-upload"></ion-icon>
        </button>
      </ion-card>
    </div>
  
    <div *ngSwitchCase="'team'"> 
        <ion-card >
            <ion-row>
              <ion-col text-right col-10>
                <ion-label >
                    Select all:
                </ion-label> 
                
              </ion-col>
              <ion-col col-2>
                <ion-checkbox color="primary" class="check" [(ngModel)]="checkAll" (ionChange)="selectAllMembers()"></ion-checkbox>
              </ion-col>
            </ion-row>
          </ion-card>
          <ion-card *ngFor="let member of teamMembers" >
                  <ion-row>
                    <ion-col col-3>
                      <ion-thumbnail item-start>
                        <img class="avatar" src="{{member.employe.image}}">
                      </ion-thumbnail>
                    </ion-col>
                    <ion-col col-7>
                      <h2>{{member.employe.first_name}} {{member.employe.last_name}}</h2>
                      <p>
                        <b *ngIf="member.employe.work_type == '1'">Cement Worker</b>
                        <b *ngIf="member.employe.work_type == 2">Construction Carpenter</b>
                        <b *ngIf="member.employe.work_type == 3">Construction Electrician</b>
                        <b *ngIf="member.employe.work_type == 4">Dry wall</b>
                        <b *ngIf="member.employe.work_type == 5">Floor installer</b>
                        <b *ngIf="member.employe.work_type == 6">Framer</b>
                        <b *ngIf="member.employe.work_type == 7">General labour</b>
                        <b *ngIf="member.employe.work_type == 8">Glazier</b>
                        <b *ngIf="member.employe.work_type == 9">Mason</b>
                        <b *ngIf="member.employe.work_type == 10">Plasterer</b>
                        <b *ngIf="member.employe.work_type == 11">Plumber</b>
                        <b *ngIf="member.employe.work_type == 12">Welder</b> 
                      </p> 
                    </ion-col>
                    <ion-col col-2>
                        <ion-checkbox color="primary" class="check2" [(ngModel)]="member.employe.checked"></ion-checkbox>
                    </ion-col>
                </ion-row>
              </ion-card>
              <ion-card>
                <button margin-top margin-bottom margin-right ion-button icon-end (click)="publishToTeam()"  float-right>
                  Confirm publish
                  <ion-icon name="cloud-upload"></ion-icon>
                </button>
              </ion-card>

    </div>
  </div>
</ion-content>
