
<ion-content class="workapp-content">
    <ion-card>
        <button (click)="navCtrl.pop()" ion-button><ion-icon name="arrow-round-back"></ion-icon>&nbsp;Back</button>
    </ion-card>
    
  <ion-card class="references-container" *ngFor="let reference of refrences; let i = index">
    <ion-row>
        <ion-col class="reference-header" col-12>
          <b>Reference {{i+1}}</b>
        </ion-col>
      <ion-col col-4>
        Company
      </ion-col>
      <ion-col col-8>
        <b>{{reference.company}}</b>
      </ion-col>
  
      <ion-col col-4>
          Contact
        </ion-col>
      
      <ion-col col-8>
        <b>{{reference.full_name}}</b>
      </ion-col>
      <ion-col col-4>
        Phone
      </ion-col>
      <ion-col col-8 >
          <button (click)="call(reference.phone)" ion-button outline item-end icon-start>
            <ion-icon name="call"></ion-icon>
            <b>{{reference.phone}}</b>
          </button>
        
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
