
<ion-content class="workapp-content">
    <ion-card *ngFor="let offer of offers">
        <ion-list>
            <ion-item>
              <ion-thumbnail item-start>
                <img class="avatar" src="">
              </ion-thumbnail>
              <h2>{{offer.offer.title}}</h2>
              <p>
                <b>Construction</b>
                <br>
                <label>Alberia</label>
              </p>
              <button ion-button  color="primary" (click)="offerDetail(offer.offer.id_offer)" item-end >
                <ion-icon name="exit"></ion-icon>
              </button>
            </ion-item>
          </ion-list>
        </ion-card>
  </ion-content>
  