
<ion-content class="workapp-content">
    <ion-card>
    <form (ngSubmit)="update_info()" [formGroup]="authForm" novalidate>
        <ion-grid class="register-content">
          <ion-row>
            <ion-col col-3>
            </ion-col>
            <ion-col col-6>
              <ion-label fixed></ion-label>
              <ion-avatar item-end>
                <img src="{{imgPreview}}" (click)="getPhoto()" class="avatar-img">
              </ion-avatar>
            </ion-col>

          </ion-row>
          <ion-row>
              <ion-col col-12>
                <ion-input type="text" formControlName="first_name"  name="first_name" placeholder="First Name" required></ion-input>
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col col-12>
                <ion-input type="text" formControlName="last_name" name="last_name" placeholder="Last Name" required></ion-input>
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col col-12>
                <ion-select formControlName="work_type" name="work_type" placeholder="Work type" interface="action-sheet" required>
                  <ion-option value="1">Cement Worker</ion-option>
                  <ion-option value="2">Construction Carpenter</ion-option>
                  <ion-option value="3">Construction Electrician</ion-option>
                  <ion-option value="4">Dry wall</ion-option>
                  <ion-option value="5">Floor installer</ion-option>
                  <ion-option value="6">Framer</ion-option>
                  <ion-option value="7">General labour</ion-option>
                  <ion-option value="8">Glazier</ion-option>
                  <ion-option value="9">Mason</ion-option>
                  <ion-option value="10">Plasterer</ion-option>
                  <ion-option value="11">Plumber</ion-option>
                  <ion-option value="12">Welder</ion-option> 
                </ion-select>        
              </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-2>
                <ion-badge color="secondary" class="workapp-badge"><ion-icon name="md-mail"></ion-icon></ion-badge>
            </ion-col>
            <ion-col col-10>
              <ion-input type="text" formControlName="user" name="user" placeholder="Email" required readonly></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col col-12>
                <ion-input type="text" formControlName="phone" name="phone" placeholder="Phone" required></ion-input>
              </ion-col>
          </ion-row>
          <ion-row>

            <ion-item col-12>
                <ion-select formControlName="cities" multiple="true" placeholder="Cities" col-12>
                  <ion-option value="1">Abbotsford</ion-option>
                  <ion-option value="2">Aldergrove</ion-option>
                  <ion-option value="3">Burnaby</ion-option>
                  <ion-option value="4">Chilliwack</ion-option>
                  <ion-option value="5">Coquitlam</ion-option>
                  <ion-option value="6">Surrey</ion-option>
                  <ion-option value="7">Maple Ridge</ion-option>
                  <ion-option value="8">Mission</ion-option>
                  <ion-option value="9">New Westminster</ion-option>
                  <ion-option value="10">North Vancouver</ion-option>
                  <ion-option value="11">White Rock</ion-option>
                  <ion-option value="12">Vancouver</ion-option>
                </ion-select>
            </ion-item>
          </ion-row>     
          <ion-row>
            <ion-col col-12>
              <ion-textarea  formControlName="description" name="description" placeholder=" Personal description"  required></ion-textarea>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12>
              <ion-textarea  formControlName="experience" name="experience" placeholder=" Laboral Experience" tabindex="2" required></ion-textarea>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12>
              <button ion-button outline class="btn-registro" type="submit"  >Update info</button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card> 
</ion-content>
