<ion-header no-shadow>
  <ion-navbar>
    <ion-buttons end *ngIf="showSkip">
      <button ion-button (click)="startApp()" color="primary">{{ 'TUTORIAL_SKIP_BUTTON' | translate}}</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <ion-slides pager="true" dir="{{dir}}" (ionSlideWillChange)="onSlideChangeStart($event)">
    <ion-slide *ngFor="let slide of slides">
      <div class="splash-logo"></div>
      <h2 class="slide-title">Bienvenido a WorkAppv2</h2>
      <p>Te ofrecemos una herramiena para que puedas encontrar trabajo facilmente.</p>
    </ion-slide>
    <ion-slide>
      <img src="assets/img/avatar.png" class="slide-image" />
      <h2 class="slide-title">¿Estast listo para encontrar empleo?</h2>
      <button ion-button icon-end large clear (click)="startApp()">
        Acceder
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>
  </ion-slides>
</ion-content>
