

<ion-content  class="workapp-content" >
  <ion-card *ngIf="employeeDetail">
      <ion-row>
          <ion-col class="reference-header" text-left col-12>
            <b>Employee detail</b>
          </ion-col>
        <ion-col col-12>
          <button (click)="navCtrl.pop()" ion-button><ion-icon name="arrow-round-back"></ion-icon>&nbsp;Back</button>
        </ion-col>
      </ion-row>
    <ion-row>
      
      <ion-col col-3>
        <img class="avatar" src="{{employeeDetail.image}}">
      </ion-col>
      <ion-col col-9 class="avatar-name">
          <h2>{{employeeDetail.first_name}}</h2>
          <p>
            <b *ngIf="employeeDetail.work_type == '1'">Cement Worker</b>
            <b *ngIf="employeeDetail.work_type == 2">Construction Carpenter</b>
            <b *ngIf="employeeDetail.work_type == 3">Construction Electrician</b>
            <b *ngIf="employeeDetail.work_type == 4">Dry wall</b>
            <b *ngIf="employeeDetail.work_type == 5">Floor installer</b>
            <b *ngIf="employeeDetail.work_type == 6">Framer</b>
            <b *ngIf="employeeDetail.work_type == 7">General labour</b>
            <b *ngIf="employeeDetail.work_type == 8">Glazier</b>
            <b *ngIf="employeeDetail.work_type == 9">Mason</b>
            <b *ngIf="employeeDetail.work_type == 10">Plasterer</b>
            <b *ngIf="employeeDetail.work_type == 11">Plumber</b>
            <b *ngIf="employeeDetail.work_type == 12">Welder</b> 
          </p>
      </ion-col>
    </ion-row>

    <ion-card-content>
      <ion-row>
        <ion-col col-3>
          <b class="rank-title">Skill</b>
        </ion-col>
        <ion-col col-9 class="rank-stars">
            <ion-icon *ngIf="employeeDetail.skill_rank >= 1" name="md-star"></ion-icon>
            <ion-icon *ngIf="employeeDetail.skill_rank > 1.25 && employeeDetail.skill_rank < 1.6" name="star-half"></ion-icon>
            <ion-icon *ngIf="employeeDetail.skill_rank >= 2" name="md-star"></ion-icon>
            <ion-icon *ngIf="employeeDetail.skill_rank > 2.25 && employeeDetail.skill_rank < 2.6" name="star-half"></ion-icon>
            <ion-icon *ngIf="employeeDetail.skill_rank >= 3" name="md-star"></ion-icon>
            <ion-icon *ngIf="employeeDetail.skill_rank > 3.25 && employeeDetail.skill_rank < 3.6" name="star-half"></ion-icon>
            <ion-icon *ngIf="employeeDetail.skill_rank >= 4" name="md-star"></ion-icon>
            <ion-icon *ngIf="employeeDetail.skill_rank > 4.25 && employeeDetail.skill_rank < 4.6" name="star-half"></ion-icon>
            <ion-icon *ngIf="employeeDetail.skill_rank >= 5" name="md-star"></ion-icon>
        </ion-col>
        <ion-col col-3>
          <b class="rank-title">Puntuality</b>
        </ion-col>
        <ion-col col-9 class="rank-stars">
            <ion-icon *ngIf="employeeDetail.puntuality_rank >= 1" name="md-star"></ion-icon>
            <ion-icon *ngIf="employeeDetail.puntuality_rank > 1.25 && employeeDetail.puntuality_rank < 1.6" name="star-half"></ion-icon>
            <ion-icon *ngIf="employeeDetail.puntuality_rank >= 2" name="md-star"></ion-icon>
            <ion-icon *ngIf="employeeDetail.puntuality_rank > 2.25 && employeeDetail.puntuality_rank < 2.6" name="star-half"></ion-icon>
            <ion-icon *ngIf="employeeDetail.puntuality_rank >= 3" name="md-star"></ion-icon>
            <ion-icon *ngIf="employeeDetail.puntuality_rank > 3.25 && employeeDetail.puntuality_rank < 3.6" name="star-half"></ion-icon>
            <ion-icon *ngIf="employeeDetail.puntuality_rank >= 4" name="md-star"></ion-icon>
            <ion-icon *ngIf="employeeDetail.puntuality_rank > 4.25 && employeeDetail.puntuality_rank < 4.6" name="star-half"></ion-icon>
            <ion-icon *ngIf="employeeDetail.puntuality_rank >= 5" name="md-star"></ion-icon>
        </ion-col>
        <ion-col col-3>
          <b class="rank-title">Discipline</b>
        </ion-col>
        <ion-col col-9 class="rank-stars">
            <ion-icon *ngIf="employeeDetail.discipline_rank >= 1" name="md-star"></ion-icon>
            <ion-icon *ngIf="employeeDetail.discipline_rank > 1.25 && employeeDetail.discipline_rank < 1.6" name="star-half"></ion-icon>
            <ion-icon *ngIf="employeeDetail.discipline_rank >= 2" name="md-star"></ion-icon>
            <ion-icon *ngIf="employeeDetail.discipline_rank > 2.25 && employeeDetail.discipline_rank < 2.6" name="star-half"></ion-icon>
            <ion-icon *ngIf="employeeDetail.discipline_rank >= 3" name="md-star"></ion-icon>
            <ion-icon *ngIf="employeeDetail.discipline_rank > 3.25 && employeeDetail.discipline_rank < 3.6" name="star-half"></ion-icon>
            <ion-icon *ngIf="employeeDetail.discipline_rank >= 4" name="md-star"></ion-icon>
            <ion-icon *ngIf="employeeDetail.discipline_rank > 4.25 && employeeDetail.discipline_rank < 4.6" name="star-half"></ion-icon>
            <ion-icon *ngIf="employeeDetail.discipline_rank >= 5" name="md-star"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-col col-12>
        <b class="description-label">Description:</b>
      </ion-col>
      <ion-col col-12>
        <ion-textarea class="employee-description" rows="4" [(ngModel)]="employeeDetail.description" readonly>
   
        </ion-textarea>
      </ion-col>
      <ion-row>
        <ion-col  col-3>
        </ion-col>
        <ion-col class="colorDescription"  col-2>
        </ion-col>

        <ion-col class="description-title" col-7>
          Dias ocupados
        </ion-col>
      </ion-row>
        <div >
          <div class="description-calendar" text-center>
            My calendar
          </div>
          <div class="calendar-header" >
            <ion-row class="calendar-month">
              <ion-col col-2 (click)="goToLastMonth()"><ion-icon name="arrow-back"></ion-icon></ion-col>
              <ion-col col-8>{{currentMonth}} {{currentYear}}</ion-col>
              <ion-col col-2 (click)="goToNextMonth()"><ion-icon name="arrow-forward"></ion-icon></ion-col>
            </ion-row>
          </div>
          <div class="calendar-body" >
            <ion-grid>
              <ion-row class="calendar-weekday">
                <ion-col>Su</ion-col>
                <ion-col>Mo</ion-col>
                <ion-col>Tu</ion-col>
                <ion-col>We</ion-col>
                <ion-col>Th</ion-col>
                <ion-col>Fr</ion-col>
                <ion-col>Sa</ion-col>
              </ion-row>
              <ion-row class="calendar-date">
                <ion-col col-1 *ngFor="let lastDay of daysInLastMonth" class="last-month">
                  <div class="otherMonthDate" *ngIf="(lastDay.Date >= reservedDays.initDate && lastDay.Date <= reservedDays.finishDate); else otherDate">{{lastDay.NumberDay}}</div>
                  <ng-template #otherDate ><div class="otherDate">{{lastDay.NumberDay}}</div></ng-template>
                </ion-col>
                <ion-col col-1 *ngFor="let day of daysInThisMonth">
                  <div class="reservedDate" *ngIf="(day.Date >= reservedDays.initDate && day.Date <= reservedDays.finishDate); else otherDate">{{day.NumberDay}}</div>
                  <ng-template #otherDate class="otherDate"><div class="otherDate">{{day.NumberDay}}</div></ng-template>
                </ion-col>
                <ion-col col-1 *ngFor="let nextDay of daysInNextMonth" class="next-month">
                  <div class="otherMonthDate" *ngIf="(nextDay.Date >= reservedDays.initDate && nextDay.Date <= reservedDays.finishDate); else otherDate">{{nextDay.NumberDay}}</div>
                  <ng-template #otherDate class="otherDate"><div class="otherDate">{{nextDay.NumberDay}}</div></ng-template>
                  
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>
        <ion-row class="butons-container">
          <ion-col col-8>
            <button ion-button outline class="btn-referencias" (click)="addToTeam()" small icon-paper>
              <ion-icon name="md-paper"></ion-icon>
              Add to team
            </button>
          </ion-col>
          <ion-col col-4>
            <button ion-button outline class="btn-detalle"  (click)="contact()"  small icon-start> 
              <ion-icon  name="md-person"></ion-icon>
              Contact
            </button>
          </ion-col>
      
        </ion-row>
    </ion-card-content>
      
  </ion-card>
</ion-content>
