<ion-content class="workapp-content">
    <!--
    <ion-card *ngIf="teamMembers.length == 0" text-center>
      <ion-label>
        You dont have any member of your team yet.
      </ion-label>
    </ion-card>
    -->
    <ion-card *ngFor="let member of teamMembers">
    <ion-list>
        <ion-item>
          <ion-thumbnail item-start>
            <img class="avatar" src="{{member.employe.image}}">
          </ion-thumbnail>
          <h2>{{member.employe.first_name}} {{member.employe.last_name}}</h2>
          <p>
            <b *ngIf="member.employe.work_type == '1'">Cement Worker</b>
            <b *ngIf="member.employe.work_type == 2">Construction Carpenter</b>
            <b *ngIf="member.employe.work_type == 3">Construction Electrician</b>
            <b *ngIf="member.employe.work_type == 4">Dry wall</b>
            <b *ngIf="member.employe.work_type == 5">Floor installer</b>
            <b *ngIf="member.employe.work_type == 6">Framer</b>
            <b *ngIf="member.employe.work_type == 7">General labour</b>
            <b *ngIf="member.employe.work_type == 8">Glazier</b>
            <b *ngIf="member.employe.work_type == 9">Mason</b>
            <b *ngIf="member.employe.work_type == 10">Plasterer</b>
            <b *ngIf="member.employe.work_type == 11">Plumber</b>
            <b *ngIf="member.employe.work_type == 12">Welder</b> 
          </p>
          <button ion-button  color="primary" (click)="detail(member.employee_id)" item-end >
            <ion-icon name="list-box"></ion-icon>
          </button>
          <button ion-button  color="danger" (click)="delete(member.id_team)" item-end >
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-item>
      </ion-list>
    </ion-card>
</ion-content>
