
<ion-content class="workapp-content" >
  <ion-card>

      <ion-grid class="register-content">
        <form  [formGroup]="authForm" novalidate>
        <ion-row>
            <ion-col class="offer-header" col-12>
                <b>My offer</b>
              </ion-col>
            <ion-col col-4>
              <button (click)="navCtrl.pop()" ion-button><ion-icon name="arrow-round-back"></ion-icon>&nbsp;Back</button>
            </ion-col>
    
          <ion-col col-12>
            <ion-label color="primary" stacked>Title</ion-label>
            <ion-input type="text" formControlName="title"  name="title" placeholder="title" required></ion-input>
          </ion-col>
        </ion-row>        
        <ion-row>
          <ion-col col-12>
            <ion-label color="primary" stacked>Offert description</ion-label>
            <ion-textarea formControlName="description"  name="description" placeholder="Offert description"></ion-textarea>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-item col-12>
              <ion-label color="primary" >City</ion-label>
              <ion-select formControlName="city"  placeholder="City" col-8>
                <ion-option value="1">Abbotsford</ion-option>
                <ion-option value="2">Aldergrove</ion-option>
                <ion-option value="3">Burnaby</ion-option>
                <ion-option value="4">Chilliwack</ion-option>
                <ion-option value="5">Coquitlam</ion-option>
                <ion-option value="6">Surrey</ion-option>
                <ion-option value="7">Maple Ridge</ion-option>
                <ion-option value="8">Mission</ion-option>
                <ion-option value="9">New Westminster</ion-option>
                <ion-option value="10">North Vancouver</ion-option>
                <ion-option value="11">White Rock</ion-option>
                <ion-option value="12">Vancouver</ion-option>
              </ion-select>
          </ion-item>
        </ion-row> 
        <ion-row>
          <ion-col col-12>
            <ion-label color="primary" stacked>Address</ion-label>
            <ion-input type="text" formControlName="address"  name="address" placeholder="Address" required></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <ion-label color="primary" stacked>Price per hour</ion-label>
            <ion-input type="number" step="0.001" formControlName="hour_price"  name="hour_price" placeholder="Price per hour" required></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
              <ion-label color="primary" stacked>Start date</ion-label>
              <ion-datetime displayFormat="DD/MM/YYYY" formControlName="start_date"  name="start_date" placeholder="Start date"></ion-datetime>
          </ion-col>
          <ion-col col-6>
              <ion-label color="primary" stacked>End date</ion-label>
              <ion-datetime displayFormat="DD/MM/YYYY" formControlName="end_date"  name="end_date" placeholder="End date"></ion-datetime>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
              <ion-label color="primary" stacked>Start hour</ion-label>
              <ion-datetime displayFormat="hh:mm A" formControlName="start_hour"  name="start_hour" placeholder="Start hour"></ion-datetime>
          </ion-col>
          <ion-col col-6>
              <ion-label color="primary" stacked>End hour</ion-label>
              <ion-datetime displayFormat="hh:mm A" formControlName="end_hour"  name="end_hour" placeholder="End hour"></ion-datetime>
          </ion-col>
        </ion-row>
        </form>
        <ion-row>
          <ion-col col-12>
            <ion-label color="primary" stacked>Offer vacants</ion-label>
            <ion-grid class="register-content">
              <ion-row *ngFor="let vacant of vacants">
                <ion-col col-2>
                  <ion-label>1</ion-label> 
                </ion-col>
                <ion-col col-10>
                    <ion-label *ngIf="vacant.work_type == 1">Cement Worker</ion-label>
                    <ion-label *ngIf="vacant.work_type == 2">Construction Carpenter</ion-label>
                    <ion-label *ngIf="vacant.work_type == 3">Construction Electrician</ion-label>
                    <ion-label *ngIf="vacant.work_type == 4">Dry wall</ion-label>
                    <ion-label *ngIf="vacant.work_type == 5">Floor installer</ion-label>
                    <ion-label *ngIf="vacant.work_type == 6">Framer</ion-label>
                    <ion-label *ngIf="vacant.work_type == 7">General labour</ion-label>
                    <ion-label *ngIf="vacant.work_type == 8">Glazier</ion-label>
                    <ion-label *ngIf="vacant.work_type == 9">Mason</ion-label>
                    <ion-label *ngIf="vacant.work_type == 10">Plasterer</ion-label>
                    <ion-label *ngIf="vacant.work_type == 11">Plumber</ion-label>
                    <ion-label *ngIf="vacant.work_type == 12">Welder</ion-label>      
                </ion-col>
               
              </ion-row>
            </ion-grid>
            <button ion-button  class="btn-registro" type="submit" (click)="addVacant()" >addVacant </button>
          </ion-col>
          <ion-col col-3>
          </ion-col>
          <ion-col col-6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <button ion-button float-right *ngIf="offer.status == 1 " color="primary" class="btn-registro" (click)="publish()" ><ion-icon name="cloud-upload"></ion-icon>&nbsp;Publish </button>
            <button ion-button float-right *ngIf="offer.status == 0" color="secondary" class="btn-registro" type="button" (click)="save()" icon-end > <ion-icon name="download"></ion-icon>&nbsp; Save </button>
            <button ion-button float-right color="danger" *ngIf="offer.status != 1 "  class="btn-registro" type="button"  icon-end > <ion-icon name="download"></ion-icon>&nbsp; Disable </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    
  </ion-card>
</ion-content>
