  <ion-content class="workapp-content">
      <ion-card>
        <ion-row>
          <ion-col col-4>
            <button (click)="navCtrl.pop()" ion-button><ion-icon name="arrow-round-back"></ion-icon>&nbsp;Back</button>
          </ion-col>
          <ion-col col-8>
            <b>Search results</b>
          </ion-col>
        </ion-row>
      </ion-card>
      <ion-card *ngFor="let Employee of Employees; let i = index">
        <ion-item>
          <ion-row>
            <ion-col col-3>
              <img class="avatar" src="{{Employee.detail.image}}">
            </ion-col>
            <ion-col col-9 class="avatar-name">
                <h2>{{Employee.user}}</h2>               
            </ion-col>
          </ion-row>
       
          <ion-row>
              <b *ngIf="Employee.detail.work_type == '1'">Cement Worker</b>
              <b *ngIf="Employee.detail.work_type == 2">Construction Carpenter</b>
              <b *ngIf="Employee.detail.work_type == 3">Construction Electrician</b>
              <b *ngIf="Employee.detail.work_type == 4">Dry wall</b>
              <b *ngIf="Employee.detail.work_type == 5">Floor installer</b>
              <b *ngIf="Employee.detail.work_type == 6">Framer</b>
              <b *ngIf="Employee.detail.work_type == 7">General labour</b>
              <b *ngIf="Employee.detail.work_type == 8">Glazier</b>
              <b *ngIf="Employee.detail.work_type == 9">Mason</b>
              <b *ngIf="Employee.detail.work_type == 10">Plasterer</b>
              <b *ngIf="Employee.detail.work_type == 11">Plumber</b>
              <b *ngIf="Employee.detail.work_type == 12">Welder</b> 
          </ion-row>
        </ion-item>
        <ion-card-content>
          <ion-row>
            <ion-col col-3>
              <b>Skill</b>
            </ion-col>
            <ion-col col-9 class="rank-stars">
                <ion-icon *ngIf="Employee.detail.skill_rank >= 1" name="md-star"></ion-icon>
                <ion-icon *ngIf="Employee.detail.skill_rank > 1.25 && Employee.detail.skill_rank < 1.6" name="star-half"></ion-icon>
                <ion-icon *ngIf="Employee.detail.skill_rank >= 2" name="md-star"></ion-icon>
                <ion-icon *ngIf="Employee.detail.skill_rank > 2.25 && Employee.detail.skill_rank < 2.6" name="star-half"></ion-icon>
                <ion-icon *ngIf="Employee.detail.skill_rank >= 3" name="md-star"></ion-icon>
                <ion-icon *ngIf="Employee.detail.skill_rank > 3.25 && Employee.detail.skill_rank < 3.6" name="star-half"></ion-icon>
                <ion-icon *ngIf="Employee.detail.skill_rank >= 4" name="md-star"></ion-icon>
                <ion-icon *ngIf="Employee.detail.skill_rank > 4.25 && Employee.detail.skill_rank < 4.6" name="star-half"></ion-icon>
                <ion-icon *ngIf="Employee.detail.skill_rank >= 5" name="md-star"></ion-icon>
            </ion-col>
            <ion-col col-3>
              <b>Puntuality</b>
            </ion-col>
            <ion-col col-9 class="rank-stars">
                <ion-icon *ngIf="Employee.detail.puntuality_rank >= 1" name="md-star"></ion-icon>
                <ion-icon *ngIf="Employee.detail.puntuality_rank > 1.25 && Employee.detail.puntuality_rank < 1.6" name="star-half"></ion-icon>
                <ion-icon *ngIf="Employee.detail.puntuality_rank >= 2" name="md-star"></ion-icon>
                <ion-icon *ngIf="Employee.detail.puntuality_rank > 2.25 && Employee.detail.puntuality_rank < 2.6" name="star-half"></ion-icon>
                <ion-icon *ngIf="Employee.detail.puntuality_rank >= 3" name="md-star"></ion-icon>
                <ion-icon *ngIf="Employee.detail.puntuality_rank > 3.25 && Employee.detail.puntuality_rank < 3.6" name="star-half"></ion-icon>
                <ion-icon *ngIf="Employee.detail.puntuality_rank >= 4" name="md-star"></ion-icon>
                <ion-icon *ngIf="Employee.detail.puntuality_rank > 4.25 && Employee.detail.puntuality_rank < 4.6" name="star-half"></ion-icon>
                <ion-icon *ngIf="Employee.detail.puntuality_rank >= 5" name="md-star"></ion-icon>
            </ion-col>
            <ion-col col-3>
              <b>Dicipline</b>
            </ion-col>
            <ion-col col-9 class="rank-stars">
                <ion-icon *ngIf="Employee.detail.discipline_rank >= 1" name="md-star"></ion-icon>
                <ion-icon *ngIf="Employee.detail.discipline_rank > 1.25 && Employee.detail.discipline_rank < 1.6" name="star-half"></ion-icon>
                <ion-icon *ngIf="Employee.detail.discipline_rank >= 2" name="md-star"></ion-icon>
                <ion-icon *ngIf="Employee.detail.discipline_rank > 2.25 && Employee.detail.discipline_rank < 2.6" name="star-half"></ion-icon>
                <ion-icon *ngIf="Employee.detail.discipline_rank >= 3" name="md-star"></ion-icon>
                <ion-icon *ngIf="Employee.detail.discipline_rank > 3.25 && Employee.detail.discipline_rank < 3.6" name="star-half"></ion-icon>
                <ion-icon *ngIf="Employee.detail.discipline_rank >= 4" name="md-star"></ion-icon>
                <ion-icon *ngIf="Employee.detail.discipline_rank > 4.25 && Employee.detail.discipline_rank < 4.9" name="star-half"></ion-icon>
                <ion-icon *ngIf="Employee.detail.discipline_rank == 5" name="md-star"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-col col-12>
            <b class="description-label">Description:</b>
          </ion-col>
          <ion-col col-12>
            <p>
                {{Employee.detail.description}}
            </p>
          </ion-col>
        </ion-card-content>
          <ion-row class="butons-container">
            <ion-col col-9>
              <button ion-button outline class="btn-referencias" (click)="references(Employee.id_user)"  small icon-paper>
                <ion-icon name="md-paper"></ion-icon>
                References
              </button>
            </ion-col>
            <ion-col col-3>
              <button ion-button outline class="btn-detalle" (click)="detail(Employee.id_user)"  small icon-start> 
                <ion-icon  name="md-person"></ion-icon>
                Detail
              </button>
            </ion-col>
        
          </ion-row>
      </ion-card>
  
  </ion-content>

