page-cards {
.rank-stars ion-icon{
    color: rgb(252, 222, 90);
    font-size: 3rem;
    margin-top: -10px;
}
.btn-referencias {
    margin-top: 10px;
    background-color: #737373;
    color: white;
    font-weight: bold;
    float: right;
}
.btn-detalle {
    margin-top: 10px;
    background-color: #1577ab;
    color: white;
    font-weight: bold;
    float: right;
}
.description-label{
    margin-left: -11px;
    color: #1577ab;
}
.butons-container{
    margin-top: -40px;
}
.avatar{
    border-radius: 5px;
    border: 2px #1577ab solid;
}
.avatar-name{
    text-align: left;
    margin-top: 20px;
    padding-left: 10px;
}
}
